.hero17-wrapper {
  display: contents;
}
 
.hero17-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero17-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero17-text1 {
  text-align: center;
}
 
.hero17-text2 {
  text-align: center;
}
 
.hero17-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.hero17-text3 {
  text-decoration: none;
}
 
.hero17-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero17-row-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.hero17-row-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.hero17-container2 {
  display: contents;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero17-content2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button {
    width: 100%;
  }
}

.features20-wrapper {
  display: contents;
}
 
.features20-link {
  display: contents;
}
 
.features20-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
 
.features20-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features20-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features20-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features20-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features20-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
}
 
.features20-image-container {
  flex: 1;
  display: flex;
  align-items: center;
}
 
.features20-image {
  width: 481px;
  height: 330px;
  object-fit: cover;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features20-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column-reverse;
  }
}
 
@media(max-width: 479px) {
  .features20-actions {
    width: 100%;
    flex-direction: column;
  }
}

.features19-wrapper {
  display: contents;
}
 
.features19-link {
  display: contents;
}
 
.features19-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
 
.features19-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features19-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features19-image {
  width: 471px;
  height: 282px;
  object-fit: cover;
}
 
.features19-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features19-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .features19-actions {
    width: 100%;
    flex-direction: column;
  }
}

.cta26-wrapper {
  display: contents;
}
 
.cta26-accent2-bg {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
 
.cta26-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.cta26-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.cta26-container2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-cardradius);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-sixunits);
}
 
.cta26-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.cta26-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta26-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.cta26-link {
  text-decoration: none;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .cta26-container2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .cta26-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta26-link {
    flex: 1;
  }
}

.footer4-wrapper {
  display: contents;
}
 
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer4-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-image {
  width: 197px;
  height: 93px;
  object-fit: cover;
}
 
.footer4-content {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer4-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer4-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer4-container {
  display: flex;
  align-items: flex-start;
}
 
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer4-text2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
